.room-info {
  display: flex;
  align-items: center;
}

.room-title {
  height: 35px;
  width: 350px;
  background-color: #0777d2;
  /* box-shadow: 1px 1px 1px black; */

  margin-right: 8px;
  padding: 0px 12px;
  border: 2px solid;
  border-color: black;
  border-radius: 5px;

  font-size: 18px;
  color: whitesmoke;
  font-family: "DNFBitBitv2";
  text-align: left;
  line-height: 35px; /* 높이와 동일하게 설정 */
  -webkit-text-stroke: 1px black;
  box-sizing: content-box;
}
<<<<<<< HEAD

.room-title {
  user-select: none;
}
=======
>>>>>>> f64ecaaaf1ad79268f4145b2dd7bef3c42b60313
