/* Footer.module.css */

.footer {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin: auto;
}

/* 내 아이템 영역 스타일 */
.itemContainer {
  display: flex; /* 가로로 배치되도록 설정 */
  background-color: #0777d2;
  padding: 5px;

  border-radius: 5px;
  color: #fff;
  align-items: center; /* 세로 중앙 정렬을 위해 추가 */
}

.itemHeader {
  font-size: 16px;
  -webkit-text-stroke: 1px black;
  font-family: "DNFBitBitv2";
}

/* 각 버튼 스타일 */
.button {
  background-color: #00396c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.itemButton {
  background-color: #00396c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
