/* MainContent.css */

.container {
  display: flex;
  display: flex;
  flex-direction: row; /* 가로 방향으로 배치 */
  margin: auto; /* 원하는 간격으로 조절 */
  width: 95%; /* 가로의 95%를 차지하도록 설정 */
  height: 68vh;
}

.problemArea,
.webIDE {
  border: 1px solid black;
  overflow-y: auto;
  border-radius: 10px; /* 둥근 테두리 설정 */
  margin-top: 10px;
  height: 96%;
}

.problemArea {
  /* padding-: 16px; */
  background-color: #69d0ff; /* 예시 색상, 필요에 따라 변경 */
  margin-right: 8px; /* 문제와 Web IDE 간의 간격을 조절 */
  flex: 1;
}

.webIDE {
  margin-left: 8px; /* 문제와 Web IDE 간의 간격을 조절 */
}

/* 문어 흔들림 애니메이션 */
@keyframes shake {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

/* 문어 먹물 뿌리기 애니메이션 */
@keyframes inkSpray {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.inkImage.fadeOut {
  animation: fadeOut 1s forwards; /* 1초 동안 애니메이션 실행 후 사라짐 */
}

.inkImage {
  width: 100px; /* 문어 이미지 크기 조정 */
  animation: shake 1s infinite; /* 흔들림 효과 */
  position: fixed; /* 화면에 고정 */
  z-index: 1000; /* 다른 요소들 위에 표시 */
}
