/* MainContent.css */

.main-content {
  display: flex;
  margin-top: 16px; /* 원하는 간격으로 조절 */
}

.problem-area,
.web-ide {
  flex: 1; /* 동일한 너비로 설정 */
  border: 2px solid #ffffff;
  margin-right: 16px; /* 간격 조절 */
  overflow: hidden;
}

.problem-area {
  padding: 16px;
  background-color: #3498db; /* 예시 색상, 필요에 따라 변경 */
}
