/* MainContent.css */

.mainContent {
  display: flex;
  flex-direction: row; /* 가로 방향으로 배치 */
  margin: auto; /* 원하는 간격으로 조절 */
  width: 95%; /* 가로의 95%를 차지하도록 설정 */
  height: 65vh;
}

.problemArea,
.webIDE {
  flex: 1;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 10px; /* 둥근 테두리 설정 */
  margin: 10px 0px;
}

.problemArea {
  padding: 16px;
  background-color: #3498db; /* 예시 색상, 필요에 따라 변경 */
  flex: 2; /* 40%를 차지하도록 설정 */
  margin-right: 8px; /* 문제와 Web IDE 간의 간격을 조절 */
}

.webIDE {
  flex: 3; /* 60%를 차지하도록 설정 */
  background-color: grey; /* 예시 색상, 필요에 따라 변경 */
  margin-left: 8px; /* 문제와 Web IDE 간의 간격을 조절 */
}
