/* Header.css */

.header {
  /* 임시 배경색, 배경화면 지정 시 transparent로 변경 예정 */
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.5);

  padding: 10px;

  display: flex;
  justify-content: space-between;
  /* BOX의 border를 고려해 나가기 버튼 삐져나오는 현상 방지 */
  box-sizing: border-box;
}

.timer-and-exit {
  display: flex;
  align-items: center;
}
