.buttonContainer {
  position: absolute;
  top: 0px;
  right: 3px;
  z-index: 1;
}

.floatButton {
  width: 20px; /* 너비 */
  height: 20px; /* 높이 */
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  font-size: 10px;
  margin-left: 1px;
}

.floatButton:hover {
  background-color: gray;
}

/* WebIDE.module.css */
.webIDEContainer {
  position: static;
}

.resultContainer,
.loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7); /* 반투명 배경 */
  z-index: 10; /* AceEditor 위에 표시 */
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.loading {
  text-align: center;
}
