/* CreateRoomModal.module.css */

/* 기본 스타일 */
.createRoomModal {
  height: 530px; /* 모달 높이 설정 */
  width: 400px; /* 모달 너비 설정 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #0ddfff;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* 세로 방향으로 컨텐츠 정렬 */
  border-radius: 10px;
  font-family: "DNFBitBitv2";
}
.createRoomModal span {
  background-color: #026fc4;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  width: 80px;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
}

/* 방 만들기 제목 스타일 */
.roomTitleContainer {
  background-color: #ffffffb8; /* 밝은 회색 배경색 지정 */
  border-radius: 10px; /* 상단 모서리만 둥글게 설정 */
  padding: 5px;
  width: 150px;
  font-family: "DNFBitBitv2";
  margin-bottom: 5px;
}

.roomTitle {
  font-size: 24px;
  color: #000000; /* 어두운 글자색 지정 */
  text-align: center;
  font-family: "DNFBitBitv2";
}

.roomSectionTitle {
  font-size: 15px;
  color: #fff; /* 흰색 글자색 설정 */
  font-family: "DNFBitBitv2";
}

/* 라벨 스타일 */
.createRoomModal label {
  margin-top: 5px; /* 라벨 간격 조정 */
}

/* 입력 요소 및 버튼 스타일 */
.createRoomModal input,
.createRoomModal select,
.createRoomModal button {
  margin-top: 8px; /* 입력 요소 및 버튼 간격 조정 */
  font-family: "DNFBitBitv2";
}

/* 버튼 스타일 */
.createRoomModal button {
  background-color: #ffffff; /* 배경색 설정 */
  color: #000000; /* 글자색 설정 */
  padding: 10px; /* 안쪽 여백 설정 */
  cursor: pointer;
  border: none;
  border-radius: 5px; /* 모서리 둥글게 설정 */
  margin-top: 7px; /* 버튼 간격 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* 버튼이 같은 너비를 가지도록 설정 */
  margin: 0 30px; /* 좌우 간격 추가 */
}

/* 방 이름, roomPassword, 티어선택, 문제 번호, 시간제한 각각의 스타일 */
.createRoomModal .roomSectionTitle {
  display: flex;
  align-items: center;
  border-radius: 10px; /* 네모 박스의 둥글기를 위해 추가 */
  padding: 10px; /* 네모 박스의 안쪽 여백 지정 *
}

.createRoomModal .inputField {
  display: flex;
  align-items: center;
  margin-top: 5px; /* 간격 조절 */
}

.createRoomModal .inputField label {
  margin-right: 10px; /* 간격 조절 */
}

.createRoomModal .roomSectionTitle span {
  margin-right: 10px;
}

.createRoomModal .languageCheckbox,
.createRoomModal .codeReviewCheckbox {
  display: flex;
  align-items: center;
}

.createRoomModal .languageCheckbox label {
  margin-right: 10px; /* 간격 조절 */
}

.createRoomModal .codeReviewCheckbox label {
  margin-right: 33px; /* 간격 조절 */
}

/* 방 만들기 및 취소 버튼 스타일 */
.createActionButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

/* 버튼 호버 효과 스타일 */
.createRoomModal button:hover {
  background-color: #5eff5e; /* 호버 시 배경색 변경 (녹색 계열) */
  transition: 0.5s all;
}

/* 취소 버튼 호버 효과 스타일 */
.createRoomModal button:last-child:hover {
  background-color: #ff4d4d; /* 취소 버튼 hover 색상 (빨간 계열) */
  transition: 0.5s all;
}

/* 추가적인 스타일이 필요하면 여기에 추가하세요 */
