.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-family: "DNFBitBitv2";
}

.logo img {
  position: absolute;
  left: 7.2%;
  top: 0.5%;
  width: 250px;
}

.myPage {
  width: 310px; /* 가로 크기를 늘립니다. */
  height: 575px; /* 세로 크기를 화면 밑까지 확장합니다. */
  background-color: #00000057; /* 반투명 회색 배경색 지정 */
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.34);
  border-radius: 10px;
}

.nameInput {
  margin: 20px auto;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  height: 35px;
  padding-top: 5px;
  width: 200px;
}

/* 스타일링 for 프로필 사진 칸 */
.profilePicture {
  position: relative; /* 상대적 위치 설정 */
  width: 150px; /* 원하는 네모 칸의 너비 */
  height: 170px; /* 원하는 네모 칸의 높이 */
  background-color: #12deff; /* 하늘색 배경 설정 */
  display: flex; /* Flex 컨테이너로 설정 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  margin: auto;
  border-radius: 10px;
}

#profilePic {
  display: none; /* 기존의 파일 업로드 버튼 감추기 */
}

.profileImage {
  width: 130px; /* 예시 너비 */
  height: 130px; /* 예시 높이 */
  object-fit: contain; /* 이미지 비율을 유지하면서 요소에 완전히 채움 */
}

/* Main.module.css */

/* 기존의 스타일에 추가 */
.expBarContainer {
  width: 70%; /* 컨테이너 너비를 조정합니다 */
  height: 20px;
  margin: 10px 0 0 -20px;
  background-color: #ddd; /* 경험치 바의 배경색 */
  border-radius: 10px; /* 경험치 바의 둥근 모서리 */
  position: relative; /* 자식 요소의 위치를 기준으로 설정 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
  margin-right: 10px; /* 텍스트와의 간격을 위해 오른쪽 여백 추가 */
  border: black 1px solid;
}

.expBar {
  height: 20px; /* 경험치 바의 높이 */
  width: 0%; /* exp 상태에 따라 동적으로 변경 */
  background-color: #22d349; /* 경험치 바 색상 */
  border-radius: 10px 0 0 10px; /* exp 바 왼쪽 모서리 둥글게 */
  transition: width 0.5s ease-in-out; /* 부드러운 너비 변화 효과 */
}

/* 경험치 텍스트 */
.expText {
  position: absolute; /* 절대 위치 */
  right: -50px; /* 오른쪽으로부터 50px 거리 */
  top: 0; /* 상단에 정렬 */
  height: 20px; /* 높이를 경험치 바와 동일하게 설정 */
  line-height: 20px; /* 세로 가운데 정렬 */
  padding-left: 5px; /* 텍스트 내부 왼쪽 패딩 */
  background: #fff; /* 배경색 */
  border-radius: 0 10px 10px 0; /* 오른쪽 모서리 둥글게 */
}

/* 코인 이미지와 텍스트 컨테이너 */
.coinContainer {
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center; /* 수직으로 중앙 정렬 */
  margin-top: 5px; /* 위쪽 여백 추가 */
}

.coinImage {
  width: 20px; /* 코인 이미지의 크기를 줄임 */
  height: 20px; /* 코인 이미지의 크기를 줄임 */
  margin-left: 5px;
  margin-right: 10px; /* 텍스트와의 간격을 위해 오른쪽 여백 추가 */
}

/* 스타일링 for 소개 칸 */
.introduction {
  margin-bottom: 10px;
  margin: 0 40px;
  font-size: 20px;
  color: white;
  line-height: 2;
  -webkit-text-stroke: 1px black;
}

/* 스타일링 for 하단 흰색 네모 칸 4개 정렬 */
.whiteBoxes {
  display: flex; /* Flex 컨테이너로 설정 */
  align-items: center; /* 가운데 정렬 */
  justify-content: center; /* 가운데 정렬 */
  margin-bottom: 20px;
}

.whiteBox {
  width: 50px;
  height: 50px;
  margin: 4px;
  padding: 1px;
  background-color: white;
  border-radius: 10px;
  object-fit: contain;
}

/* 스타일링 for 마이페이지 파란색 네모 칸 */
.myPageBlueBox {
  width: 260px;
  height: 30px;
  background-color: #0594df;
  color: white;
  font-family: "DNFBitBitv2";
  margin-left: 25px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  display: flex; /* Flex 컨테이너로 설정 */
  flex-direction: column; /* 수직으로 정렬 */
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px gray;
}

.rightTop {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  height: fit-content;
  -webkit-text-stroke: 0.5px #000000;
}

.introButton {
  font-size: 14px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  outline: none;
  margin-right: 10px;
  text-shadow: 2px 2px 2px black; /* 검은색 텍스트 테두리 추가 */
  font-family: "DNFBitBitv2";
  transition: 0.2s all;
}
.introButton:hover {
  color: lightgray;
  transition: 0.2s all;
}

.logoutButton {
  font-size: 14px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  outline: none;
  text-shadow: 2px 2px 2px black;
  font-family: "DNFBitBitv2";
  transition: 0.2s all;
}
.logoutButton:hover {
  color: lightgray;
  transition: 0.2s all;
}
.rightSide {
  margin-left: 40px;
}

.rightMiddle {
  display: flex;
  position: absolute;
  right: 5%;
  top: 60px;
  height: fit-content;
}

.itemShopButton {
  width: 200px;
  height: 55px;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: 2px solid #fff0b2;
  color: black;
  outline: none;
  font-family: "DNFBitBitv2";
  -webkit-text-stroke: 0.3px white;
  background-image: linear-gradient(to top, #f4d18e, #ef9e00);
  transition: 0.2s all;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px gray;
}
.itemShopButton:hover {
  background-image: linear-gradient(to top, #d1b37a, #bd7e00);
  transition: 0.2s all;
  font-size: 25px;
}

.createRoomButton {
  width: 200px;
  height: 55px;
  right: 70px;
  cursor: pointer;
  border: 2px solid #fff0b2;
  -webkit-text-stroke: 0.3px white;
  color: black;
  outline: none;
  font-family: "DNFBitBitv2";
  background-image: linear-gradient(to top, #ffe88a, #f1c100);
  transition: 0.2s all;
  border-radius: 10px;
  box-shadow: 2px 2px gray;
  font-size: 20px;
}
.createRoomButton:hover {
  background-image: linear-gradient(to top, #c8b66c, #bf9900);
  transition: 0.2s all;
  font-size: 25px;
}

.introButton:hover {
  text-decoration: underline;
}

.logoutButton:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 회색 배경색 지정 */
  z-index: 999; /* 다른 요소 위에 나타나도록 설정 */
}

.roomPage {
  width: 1000px; /* 가로 크기를 늘립니다. */
  height: 333px; /* 세로 크기를 화면 밑까지 확장합니다. */
  background-color: #00000057; /* 반투명 회색 배경색 지정 */
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.34);
  border-radius: 10px;
}

/* 스타일링 for 드롭다운 버튼 */

/* 드롭다운 스타일 */
.selectDropdownMain {
  width: 75px;
  padding: 5px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin-bottom: -5px;
}

.selectDropdownMain option {
  text-align: center;
}

/* 라벨 스타일 */
.selectLabelMain {
  margin-right: 5px;
  font-weight: bold;
}

/* 체크박스 스타일 */
.checkboxContainerMain {
  display: flex;
  align-items: center;
}

.checkboxContainerMain input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 25px;
}

.checkboxContainerMain input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #d9d9d9;
  background-color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.checkboxContainerMain input[type="checkbox"]:checked + label:before {
  background-color: white;
}

.checkboxContainerMain input[type="checkbox"]:checked + label:after {
  content: "\2713"; /* 체크 모양 유니코드 */
  font-size: 18px;
  color: black;
  position: absolute;
  top: 1px;
  left: 5px;
}

.normalButton {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin-bottom: -5px;
  font-family: "DNFBitBitv2";
}
.active {
  background-color: #12deff;
}

.itemButton {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin-bottom: -5px;
  margin-right: 113px;
  font-family: "DNFBitBitv2";
}

.optionButtons {
  display: flex; /* Flex 컨테이너로 설정 */
  align-items: right; /* 가운데 정렬 */
  justify-content: right; /* 가운데 정렬 */
  font-family: "DNFBitBitv2";
}

.optionButton {
  width: 170px;
  height: 35px;
  margin-right: 15px;
  background-color: #d9d9d9;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  margin-bottom: -5px;
  font-family: "DNFBitBitv2";
}

/* 게임 방 리스트 스타일 */
.gameRoomList {
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 15px; /* room-page 아래에 여백 추가 */
  height: 100px;
  width: 950px;
  border-radius: 10px;
}

.room {
  height: 105px;
  padding: 8px;
  border: 1px solid black;
  background-color: #12deff;
  color: black;
  text-align: center;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: 0.2s all;
  box-shadow: 2px 2px gray;
}
.room:hover {
  background-color: #0e9cb2;
  transition: 0.2s all;
}

.roomBlueBox {
  width: 250px;
  height: 35px;
  background-color: #0584df;
  color: white;
  text-align: left;
  line-height: 35px;
  border-radius: 8px;
  position: relative;
  top: -20px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: -15px;
  -webkit-text-stroke: 1px black;
}

/* .roomBlueBox p {
  color: white;
} */
.playingText {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}
.playingText h1 {
  margin: 0;
  background: linear-gradient(to top, #22a800, #e2ffdb);
  -webkit-text-stroke: 0.5px black;
  color: transparent;
  background-clip: text;
}

.waitingText {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.waitingText h1 {
  margin: 0;
  background: linear-gradient(to top, #e39a00, #e2ffdb);
  -webkit-text-stroke: 0.5px black;
  color: transparent;
  background-clip: text;
}

.roomDescription {
  display: flex;
  font-size: 13px;
  text-align: left;
  margin-left: 10px;
  letter-spacing: 2.5px; /* 원하는 글자 간격 설정 */
}
.roomDescriptionTime {
  font-size: 10px;
}

.keyIcon {
  margin-right: 55px;
  font-size: 20px;
}

.speakIcon {
  margin-left: -50px;
  margin-right: 5px;
  width: 30px;
}

.roomDescription span {
  margin-left: 230px;
}

.backPage,
.forthPage {
  width: 70px;
  height: 25px;
  background-color: #0584df; /* 파란색 배경 */
  color: white; /* 흰색 글자 */
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 40px; /*간격 조절*/
  line-height: 20px;
  margin-top: 165px;
  font-family: "DNFBitBitv2";
  border-radius: 15px;
}

.backandforthPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 45px;
  margin-left: 45px;
  border-radius: 15px;
}

.backPage::before {
  content: "<"; /* 이전 아이콘 */
  margin-bottom: 3px;
}

.forthPage::before {
  content: ">"; /* 다음 아이콘 */
  margin-bottom: 3px;
}
.realChat {
  height: 100px;
}

.chatPage {
  height: 196px;
  margin-top: 20px;
  height: 196px;
  width: 1000px;
  background-color: #00000057;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.34);
  border-radius: 10px;
}

.chatPageButton {
  background-color: #12deff; /* 하늘색 */
  color: black; /* 흰색 글씨 */
  width: 80px;
  height: 30px;
  padding-top: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "DNFBitBitv2";
}

.chatPageButton p {
  margin-top: 0px;
}

.chatInputContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.messageInfo {
  font-size: 12px;
  margin: 0;
}

.nickname {
  font-size: 16px;
  -webkit-text-stroke: 0.2px white;
}

.timestamp {
  font-size: 8px;
  margin-left: 15px;
}

.messageContent {
  font-size: 12px;
}

.chatContent {
  padding-left: 10px;
  height: 130px;
  overflow-y: scroll;
}
.chatContent::-webkit-scrollbar {
  width: 20px;
}
.chatContent::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.chatContent::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.chatInput {
  width: 900px; /* 입력창 너비 조절 */
  padding: 8px;
  border: 1px solid #ddd; /* 입력창 테두리 스타일 */
  border-radius: 5px; /* 입력창 테두리 둥글게 */
  margin-right: -5px; /* 입력창과 버튼 간격 조절 */
  font-family: "DNFBitBitv2";
}

.sendButton {
  background-color: #0584df; /* 전송 버튼 색상 */
  color: #fff; /* 전송 버튼 글자색 */
  width: 70px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* 전송 버튼 테두리 둥글게 */
  font-family: "DNFBitBitv2";
}
