.main-container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.logo {
  margin-top: 20px;
}

.right-top-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.intro-button {
  align-self: flex-end;
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  outline: none;
  text-shadow: 2px 2px 2px black; /* 검은색 텍스트 테두리 추가 */
}

.logout-button {
  align-self: flex-end;
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  outline: none;
  text-shadow: 2px 2px 2px black; /* 검은색 텍스트 테두리 추가 */
}

.itemshop-button,
.createroom-button {
  right: 60px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background: none;
  border: 2px solid black; /* 검은색 테두리 추가 */
  color: black;
  outline: none;
  /* text-shadow: 2px 2px 2px black; 검은색 텍스트 테두리 추가 */
  font-weight: bold;
}

.intrologout-button:hover {
  text-decoration: underline;
}

/* Styling for 아이템 상점 버튼 */
.itemshop-button {
  border-color: black;
  background-color: orange;
  margin-right: 10px;
}

/* Styling for 방 만들기 버튼 */
.createroom-button {
  border-color: black;
  background-color: yellow;
  margin-right: 30px;
}

.my-page {
  position: absolute; /* 고정 위치 설정 */
  left: 60px; /* 왼쪽 공백을 늘립니다. */
  top: 150px; /* 위쪽에 정렬되도록 설정 */
  width: 310px; /* 가로 크기를 늘립니다. */
  height: 75vh; /* 세로 크기를 화면 밑까지 확장합니다. */
  background-color: rgba(52, 49, 49, 0.7); /* 반투명 회색 배경색 지정 */
  padding: 10px;
  border: 2px solid black;
}

/* 스타일링 for 이름 입력 칸 */
.name-input {
  margin-bottom: 10px;
}

/* 스타일링 for 프로필 사진 칸 */
.profile-picture {
  margin-bottom: 10px;
}

/* 스타일링 for 소개 칸 */
.introduction {
  margin-bottom: 10px;
}

/* 스타일링 for 하단 흰색 네모 칸 4개 정렬 */
.white-boxes {
  display: flex;
}

.white-box {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: white;
  border: 2px solid black;
}

/* 스타일링 for 마이페이지 파란색 네모 칸 */
.blue-box {
  width: 100px;
  height: 50px;
  background-color: rgb(48, 179, 222);
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.room-page {
  position: absolute; /* 고정 위치 설정 */
  right: 60px; /* 왼쪽 공백을 늘립니다. */
  top: 150px; /* 위쪽에 정렬되도록 설정 */
  width: 1000px; /* 가로 크기를 늘립니다. */
  height: 45vh; /* 세로 크기를 화면 밑까지 확장합니다. */
  background-color: rgba(52, 49, 49, 0.7); /* 반투명 회색 배경색 지정 */
  padding: 10px;
  border: 2px solid black;
}

/* 게임 방 리스트 스타일 */
.game-room-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 50px;
  margin-top: 20%; /* room-page 아래에 여백 추가 */
}

.room {
  padding: 10px;
  border: 2px solid black;
  background-color: lightblue;
  color: black;
  text-align: center;
}

.chat-page {
  position: absolute; /* 고정 위치 설정 */
  right: 60px; /* 왼쪽 공백을 늘립니다. */
  top: 520px; /* 위쪽에 정렬되도록 설정 */
  width: 1000px; /* 가로 크기를 늘립니다. */
  height: 25vh; /* 세로 크기를 화면 밑까지 확장합니다. */
  background-color: rgba(52, 49, 49, 0.7); /* 반투명 회색 배경색 지정 */
  padding: 10px;
  border: 2px solid black;
}
