.mainContainer {
  /* Use flexbox to organize content vertically */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  height: 100vh; /* Adjust height as needed */
  background-image: url("../../assets/images/mainback.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "DNFBitBitv2";
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.logo img {
  position: absolute;
  left: 7.2%;
  top: 3.5%;
  width: 250px;
}

.exitButton {
  /* 뒤로 가기 버튼 스타일링 */
  background-color: #f1c100; /* 주황색 배경 */
  color: black; /* 검은색 텍스트 */
  border: none;
  font-size: 15px; /* 글꼴 크기를 조정합니다 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  margin: 0 30px;
  border-radius: 5px;
  text-align: center;
  font-family: "DNFBitBitv2";
  width: 100px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.34);
}

.exContent {
  flex-direction: column;
  background-color: rgba(0, 185, 255, 0.25);
  padding: 20px; /* 콘텐츠에 대한 패딩 추가 */
  margin: 50px 100px 20px 100px; /* 위 오른 밑 왼 */
  border-radius: 10px;
}

.mypageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypageInfoButton {
  background-color: white;
  padding: 10px 20px; /* 버튼의 크기를 조정합니다 */
  font-size: 20px; /* 글꼴 크기를 조정합니다 */
  text-align: center;
  margin: 0px 10px; /* 텍스트에 여백을 추가하여 버튼을 더 크게 만듭니다 */
  border-radius: 7px;
  border: 2px solid black;
  font-family: "DNFBitBitv2";
}

.inContent {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.54);
  padding: 10px;
  margin-top: 18px;
  box-sizing: border-box;
  border-radius: 10px;
}

.leftInContent,
.rightInContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.leftInContent {
  margin-right: 20px;
}

.selectedButton {
  margin: 20px auto;
  font-size: 15px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  height: 35px;
  line-height: 30px;
  width: 250px;
  margin: 10px 5px;
  font-family: "DNFBitBitv2";
  background-color: #ff6b00; /* 선택된 언어의 배경 색상을 빨간색으로 설정 */
  color: white;
  /* cursor: pointer; */
}

.langInput {
  cursor: pointer;
}

/* 스타일링 for 프로필 사진 칸 */
.profilePicture {
  position: relative; /* 상대적 위치 설정 */
  width: 150px; /* 원하는 네모 칸의 너비 */
  height: 170px; /* 원하는 네모 칸의 높이 */
  background-color: #12deff; /* 하늘색 배경 설정 */
  display: flex; /* Flex 컨테이너로 설정 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  margin: auto;
  border-radius: 10px;
}

#profilePic {
  display: none; /* 기존의 파일 업로드 버튼 감추기 */
}

.profileImage {
  width: 130px;
  height: 130px;
  object-fit: contain; /* 이미지 비율을 유지하면서 요소에 완전히 채움 */
}

.emailProvider {
  position: relative; /* 상대적 위치 설정 */
  width: 50px; /* 원하는 네모 칸의 너비 */
  height: 50px; /* 원하는 네모 칸의 높이 */
  background-color: #ffffff; /* 하늘색 배경 설정 */
  display: flex; /* Flex 컨테이너로 설정 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  margin: auto;
  border-radius: 10px;
}

.providerImage {
  width: 50px;
  height: 50px;
  object-fit: contain; /* 이미지 비율을 유지하면서 요소에 완전히 채움 */
}

.nameInput {
  margin: 15px auto;
  font-size: 15px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 200px;
  flex-direction: row;
}

.emailInput {
  margin: 15px auto;
  font-size: 15px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  width: 250px;
  font-family: "DNFBitBitv2";
}

.preferLangText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
}

.langButton {
  display: flex;
  flex-direction: row;
  width: 250px;
}

.langInput {
  margin: 20px auto;
  font-size: 15px;
  background-color: rgba(137, 183, 223, 0.66);
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  height: 35px;
  line-height: 30px;
  width: 250px;
  margin: 10px 5px;
  font-family: "DNFBitBitv2";
}

.rightInContent {
  margin-left: 20px;
}

.solvedProblems {
  flex-direction: column;
}

.exsuccessProblemscontent {
  background-color: rgba(255, 255, 255, 0.57);
}

/* .successProblemscontent {
  background-color: white;
  margin: 20px 30px 20px 0px;
  border-radius: 5px;
  padding-left: 10px;
}

.unsolvedProblems {
  flex-direction: column;
}

.unsolvedProblemscontent {
  background-color: white;
  margin: 20px 30px 0px 0px;
  border-radius: 5px;
  padding-left: 10px;
}

.exunsolvedProblemscontent {
  background-color: rgba(255, 255, 255, 0.57);
} */
.solvedProblemsText,
.unsolvedProblemsText {
  margin-top: 20px;
  font-size: 17px;
}

.exsuccessProblemscontent,
.exunsolvedProblemscontent {
  background-color: rgba(
    255,
    255,
    255,
    0.57
  ); /* 투명도를 57% 주어 배경색 설정 */
  margin: 20px 25px 10px 0px;
  border-radius: 5px;
  padding: 10px;
  overflow: auto; /* 내용이 넘칠 경우 스크롤바 생성 */
}

.successProblemscontent,
.unsolvedProblemscontent {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}

/* 스크롤바 스타일링 */
.exsuccessProblemscontent::-webkit-scrollbar,
.exunsolvedProblemscontent::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.exsuccessProblemscontent::-webkit-scrollbar-thumb,
.exunsolvedProblemscontent::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바의 색상 */
  border-radius: 4px; /* 스크롤바의 모서리 둥글기 */
}

.exsuccessProblemscontent::-webkit-scrollbar-thumb:hover,
.exunsolvedProblemscontent::-webkit-scrollbar-thumb:hover {
  background: #555; /* 스크롤바의 색상 (hover 시) */
}
