/* BlueBox.css */

.blue-box {
  background-color: #0777d2; /* 파란색 배경 */
  width: 60%; /* GrayBox의 내부 공간 중 5/3을 차지하도록 설정 */
  height: 98%; /* GrayBox의 내부 공간 중 5/3을 차지하도록 설정 */
  border-radius: 15px;
  margin-left: 1%;
  margin-bottom: auto;
  margin-right: 1%;
  border: 1.6px solid;
  border-color: black;
}
