/* BlueBox.css */

.blue {
  background-color: #0777d2; /* 파란색 배경 */
  width: 1000px; /* GrayBox의 내부 공간 중 5/3을 차지하도록 설정 */
  height: 540px; /* GrayBox의 내부 공간 중 5/3을 차지하도록 설정 */
  border-radius: 15px;
  margin-left: 1%;
  margin-bottom: auto;
  border: 1.6px solid;
  border-color: black;
}

/* ChatBox.css */

.chat {
  background-color: #0777d2; /* 파란색 배경 */
  width: 93.4%; /* GrayBox의 내부 공간 중 5/3을 차지하도록 설정 */
  height: 150px;
  border-radius: 15px;
  margin-top: auto;
  margin-left: 30px;
  margin-right: auto;
  border: 1.6px solid;
  border-color: black;
  padding-bottom: 300px;
}

.chattext {
  font-size: 20px;
  text-align: center; /* 텍스트 중앙 정렬 */
  color: white;
  font-family: "DNFBitBitv2";
  text-shadow:
    1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

.realchat {
  width: 88%; /* GrayBox의 내부 공간 중 5/3을 차지하도록 설정 */
  height: 300px;
  margin-top: auto;
  margin-left: 30px;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: "scroll";
  color: white;
  font-family: "DNFBitBitv2";
}

.checkchat {
  display: flex;
}

.write {
  background-color: white; /* 파란색 배경 */
  width: 75%; /* GrayBox의 내부 공간 중 5/3을 차지하도록 설정 */
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 30px;
  border: 1.6px solid;
  border-color: black;
}

.buttonWithImage {
  background-color: #0bbeff;
  background-image: url("../../../public/images/chat.png");
  background-size: cover;
  background-size: contain; /* 이미지가 버튼에 맞게 조절됩니다. */
  background-repeat: no-repeat;
  background-position: center; /* 이미지를 가로 및 세로 정중앙에 배치합니다. */
  width: 10%;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 11px;
  margin-right: auto;
  border: 1.6px solid;
  border-color: black;
}

/* StartButton.css */
.startbtn {
  border: none; /* 테두리 없애기 */
  color: white; /* 텍스트 색상은 흰색 */
  padding: 15px 32px; /* 패딩으로 버튼 크기 조절 */
  text-align: center; /* 텍스트 중앙 정렬 */
  text-decoration: none; /* 텍스트 밑줄 없애기 */
  display: inline-block;
  font-size: 25px;

  cursor: pointer; /* 마우스를 올렸을 때 커서 모양 변경 */
  border-radius: 12px; /* 버튼 모서리 둥글게 */
  border: 2px solid;
  border-color: white;
  width: 180px;
  height: 40px;
  margin-top: 15px;
  margin-left: 30px;
  color: white;
  font-family: "DNFBitBitv2";
}
.start {
  background: linear-gradient(
    to right,
    orange,
    darkorange
  ); /* 주황색 그라데이션 효과 */
}
.ready {
  background: linear-gradient(
    to right,
    #38d600,
    #80f158
  ); /* 주황색 그라데이션 효과 */
}

/* 오른쪽에 들어갈 버튼  */
.rightbutton {
  width: 87.5px; /* StartButton의 너비의 절반 */
  height: 70px; /* StartButton의 높이와 동일 */
  border-radius: 12px; /* 버튼 모서리 둥글게 */
  background-color: white;
  margin: 15px auto auto auto;
  font-size: 20px;
  text-align: center; /* 텍스트 중앙 정렬 */
  font-family: "DNFBitBitv2";
  border: 2px solid;
  border-color: black;
  cursor: pointer; /* 마우스를 올렸을 때 커서 모양 변경 */
}
.rightbutton p {
  margin: 20px 0 0 0;
}

/* 3개의 상태창 스타일 위*/
.miniBoxup {
  /* 격자 방식으로 요소들을 배치하는 display */
  display: grid;
  /* 아래는 각각 열 행? 이 화면의 얼마만큼을 차지하게 할지 정하는 것 */
  /* 참고로 1fr은 화면을 꽉채우는 비율 */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 680px;
  height: 200px;
  margin: auto;
  /* 상 우 하 좌 순서 */
}

/* 3 개의 상태창 스타일 아래  */
.miniBoxdown {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 680px;
  height: 200px;
  gap: 40px;
  margin: 20px auto 20px auto;
  /* 상 우 하 좌 순서 */
}

/* 상태창 나타내주기 */
.status {
  background-color: #0bbeff;
  border-radius: 8px;
  border-color: black;
  border: 2px solid;
  width: 180px;
  height: 70px;
  margin-top: 5px;
}
/* 대기방 첫번째 헤더 */
.roomheader1 {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 41px;
}

/* 대기방 두번째 헤더 */
.roomheader2 {
  display: flex;
  justify-content: space-between;
  padding-left: 11px;
  padding-right: 42px;
}

/* 오른쪽 아래 3개 버튼 스타일  */
.button3 {
  display: flex;
  width: 48.7%;
  height: 100%;
  gap: 10px;
}

/* 오른쪽 아래 4개 버튼 스타일  */
.button4 {
  display: flex;
  gap: 10px;
}

/* 오른쪽 부분 전체 스타일  */
.right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 540px;
  box-sizing: border-box;
}

/* 게임 제목 */
.gametitle {
  height: 35px;
  width: 500px; /* 박스의 너비를 늘림 */
  background-color: white; /* 박스의 배경색을 흰색으로 변경 */
  margin-right: 8px;
  padding: 0px 12px;
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  font-size: 18px;
  color: black; /* 글자색을 검정으로 변경 */
  font-family: "DNFBitBitv2";
  text-align: left;
  line-height: 35px; /* 높이와 동일하게 설정 */
  -webkit-text-stroke: 0.5px black;
  box-sizing: content-box;
  margin-left: 30px;
}

.roominfo {
  display: flex;
}

.charid {
  background-color: #0777d2;
  border-radius: 8px;
  border: 2px solid;
  width: 170px;
  height: 28px;
  margin-top: 3px;
  margin-left: 3px;
  text-align: center; /* 텍스트 중앙 정렬 */
  font-family: "DNFBitBitv2";
  font-size: 18px;
  color: white;
  border-color: black;
}

.master {
  background-color: #00396c;
  border-radius: 8px;
  border: 2px solid;
  width: 170px;
  height: 28px;
  margin-top: 3px;
  margin-left: 3px;
  text-align: center; /* 텍스트 중앙 정렬 */
  font-family: "DNFBitBitv2";
  font-size: 18px;
  color: #12deff;
  border-color: black;
  text-shadow:
    1px 1px 0 #0c74d0,
    -1px -1px 0 #0c74d0,
    1px -1px 0 #0c74d0,
    -1px 1px 0 #0c74d0;
}

.unreadytext {
  background-color: #00396c;
  border-radius: 8px;
  border: 2px solid;
  width: 170px;
  height: 28px;
  margin-top: 3px;
  margin-left: 3px;
  text-align: center; /* 텍스트 중앙 정렬 */
  font-family: "DNFBitBitv2";
  font-size: 18px;
  color: #d3d3d3; /* Light grey color */
  border-color: black;
  text-shadow:
    1px 1px 0 #696969,
    -1px -1px 0 #696969,
    1px -1px 0 #696969,
    -1px 1px 0 #696969;
}

.readytext {
  background-color: #00396c;
  border-radius: 8px;
  border: 2px solid;
  width: 170px;
  height: 28px;
  margin-top: 3px;
  margin-left: 3px;
  text-align: center; /* 텍스트 중앙 정렬 */
  font-family: "DNFBitBitv2";
  font-size: 18px;
  color: #f29100;
  border-color: black;
  text-shadow:
    1px 1px 0 #ff0000,
    -1px -1px 0 #ff0000,
    1px -1px 0 #ff0000,
    -1px 1px 0 #ff0000; /* 텍스트 테두리 추가 */
}
