.modalOverlay {
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px; /* 모달의 모서리를 둥글게 */
  width: 400px; /* 모달의 너비 */
  text-align: center;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 80%; /* 입력 필드 너비 */
  border: 1px solid #ccc;
  border-radius: 5px; /* 입력 필드 모서리 둥글게 */
}

.submitButton,
.closeButton {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 커서 모양 변경 */
}

.submitButton {
  background-color: #007bff;
  color: white;
}

.closeButton {
  background-color: #6c757d;
  color: white;
}
