.timer {
  height: 35px;
  width: 130px;
  background-color: #0bbeff;
  margin-right: 8px;
  padding: 0px 6px;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;

  font-size: 13px;
  color: black;
  font-family: "DNFBitBitv2";
  text-align: center;
  line-height: 35px;
  -webkit-text-stroke: 0.3px white; /* 가독성 위해 0.5 => 0.3 */
  box-sizing: border-box;
}

.timer {
  user-select: none;
}

/* 60초 아래로 내려가면 글자색 빨강으로 변경. */
.redTimer {
  /* background-color: red; */
  color: black;
}

.timerIcon {
  margin-top: 30px;
}
